<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <!-- <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
        
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a>
    </nav> -->
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-2">

        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Update Account</div>
                <div class="card-body">
                    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                        <!-- Form Group (username)-->

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="form-group col-md-6">
                                <label class="small mb-1" for="name">Name</label>
                                <input class="form-control" id="name" type="text" placeholder="Enter your name"
                                    name="name" formControlName="name" required>
                                <div class="invalid-feedback">This input is not valid!</div>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="form-group col-md-6">
                                <label class="small mb-1" for="surname">Surname</label>
                                <input class="form-control" id="surname" type="text" placeholder="Enter your surname"
                                    name="surname" formControlName="surname" required>
                                <div class="invalid-feedback">This input is not valid!</div>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (email)-->
                            <div class="form-group col-md-6">
                                <label class="small mb-1" for="email">Email address</label>
                                <input class="form-control" id="email" type="email"
                                    placeholder="Enter your email address" name="email" formControlName="email"
                                    required readonly>
                            </div>
                            <!-- Form Group (address)-->
                            <div class="form-group col-md-6">
                                <label class="small mb-1" for="address">Address</label>
                                <input class="form-control" id="address" type="text" placeholder="Enter your address"
                                    name="address" formControlName="address" required>
                                <div class="invalid-feedback">This input is not valid!</div>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="form-group col-md-12">
                                <label class="small mb-1" for="phone">Phone number</label>
                                <input class="form-control" id="phone" type="text" placeholder="Enter your phone number"
                                    minlength="9" maxlength="10" name="phone" formControlName="phone" required>
                                <div class="invalid-feedback">This input is not valid!</div>
                            </div>
                        </div>

                        <div id="showChangePasswordDiv">
                            <a class="btn btn-success mb-4" (click)="updatePasswordControls()" data-toggle="collapse" href="#passwordCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Change password
                            </a>
                        </div>

                        <div class="collapse" id="passwordCollapse">
                            <div class="row gx-3 mb-3" *ngIf="isPasswordShown">

                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="password">New password</label>
                                    <input class="form-control" id="password" type="password"
                                        placeholder="Enter your password" minlength="5" name="password"
                                        formControlName="password" required>
                                    <div class="invalid-feedback">This input is not valid!</div>
                                </div>
    
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="confirmPassword">Confirm password</label>
                                    <input class="form-control" id="confirmPassword" type="password"
                                        placeholder="Confirm password" minlength="5" name="confirmPassword"
                                        formControlName="confirmPassword" required>
                                    <div class="invalid-feedback">This input is not valid!</div>
                                    <div *ngIf="updateForm.errors?.['mismatch']" class="custom-invalid-feedback">
                                        Password must match!
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>