<div class="container py-3">
    <div class="card">
        <div class="card-body shadow">
            <h4>{{reservationWithAccommodation.accommodation.name}},
                {{reservationWithAccommodation.accommodation.accommodationType}}</h4>
            <div class="row py-3">
                <div class="col-sm-3 ">
                    <img src="assets/images/apartment1.jpg" alt="apartment" class="img-fluid border">
                </div>
                <div class="col-sm-9">
                    <p>{{reservationWithAccommodation.accommodation.description}}</p>
                    <div class="row">
                        <div class="col-sm-3 px-4">
                            <span class="my-3">Guest: </span><span class="my-3"><a data-dismiss="modal" aria-label="Close" [routerLink]="['/profile/', reservationWithAccommodation.guestEmail]">{{reservationWithAccommodation.guestEmail}}</a></span>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>Start date: {{datePipe.transform(reservationWithAccommodation.date, "yyyy-MM-dd")}}</p>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>Duration: {{reservationWithAccommodation.days}} days</p>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>Price: {{reservationWithAccommodation.price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 px-4 py-1 ">
                            <p>Number of guests: {{reservationWithAccommodation.guestNumber}}</p>
                        </div>
                        <div class="col-sm-3 px-4 py-1">
                            <p>Status: {{reservationWithAccommodation.status}}</p>
                        </div>
                        <div class="col-sm-6 px-4 py-1 ">
                            <p>Guest cancelled reservations {{cancelledReservations}} times before</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Cancellation deadline: {{reservationWithAccommodation.accommodation.reservationCancellationDeadline}} days</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button [disabled]="!showCancelButton" *ngIf="auth.getRole() == 'Guest' && reservationWithAccommodation.status == 'Waiting'" (click)="cancelReservationEvent.emit({reservation: reservationWithAccommodation})" class="btn btn-danger">Cancel reservation</button>
                            <button *ngIf="auth.getRole() == 'Owner' && reservationWithAccommodation.status == 'Waiting'" (click)="acceptReservationEvent.emit({reservation: reservationWithAccommodation})" class="btn btn-success mx-3">Accept</button>
                            <button *ngIf="auth.getRole() == 'Owner' && reservationWithAccommodation.status == 'Waiting'" (click)="declineReservationEvent.emit({reservation: reservationWithAccommodation})" class="btn btn-danger">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>