
<div class="container">
    <div class="card">
        <div class="card-body shadow">
            <h4>Milan apartmani, Zlatibor</h4>
            <div class="row py-3">
                <div class="col-sm-3 ">
                    <img src="assets/images/apartment1.jpg" alt="apartment" class="img-fluid border">
                </div>
                <div class="col-sm-9">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <div class="row">
                        <div class="col-sm-3 px-4">
                            <p>Guest: vojkan </p>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>Start date: 1/1/2024</p>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>End date: 12/1/2024</p>
                        </div>
                        <div class="cols-sm-3 px-4">
                            <p>Price: 200 €</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 px-4 py-1 ">
                            <p>Guests: 4</p>
                        </div>
                        <div class="col-sm-3 px-4 py-1">
                            <p>Status: Waiting</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-danger ">Cancel</button>
                            <button class="btn btn-success mx-3">Accept</button>
                            <button class="btn btn-danger ">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>