<div class="container py-5 px-1">

    <div class="row border-bottom">
        <div class="col-sm-7">
            <img src="assets/images/apartment1.jpg" alt="apartment" class="img-fluid shadow">
        </div>

        <div class="col-sm-5 px-4 mt-3">
            <h2 class="text-center pb-5" [attr.id]="'accommodationModalLabel'+accommodation.id">{{accommodation.name}}
            </h2>

            <p class="text-center">{{accommodation.description}}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p>Name: {{accommodation.name}}</p>
                </div>
                <div class="col-sm-6">
                    <span>Email: </span><span><a
                            [routerLink]="['/profile/', accommodation.ownerEmail]">{{accommodation.ownerEmail}}</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Location : {{accommodation.location}}
                </div>
                <div class="col-sm-6">
                    <p>Cancelation deadline:
                        {{accommodation.reservationCancellationDeadline}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Minimum guests : {{accommodation.minGuests}}</p>
                </div>
                <div class="col-sm-6">
                    Maximum guests : {{accommodation.maxGuests}}
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class="pt-3 px-3 h5">5/5</div>
                    <div class="ratingReview py-1">
                        <label>☆</label>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-6">
                    <button *ngIf="axiosService.getRole() == 'Guest'" [disabled]="canRateAccommodation == false"
                        type="button" class="btn btn-secondary px-4 btn-block" data-toggle="modal"
                        data-target="#rateAccommodationModal ">Rate Accommodation</button>
                </div>
                <div class="col-sm-6">
                    <button *ngIf="axiosService.getRole() == 'Guest'" [disabled]="canRateOwner == false" type="button"
                        class="btn btn-secondary px-4 btn-block" data-toggle="modal" data-target="#rateOwnerModal">Rate
                        Owner</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rateAccommodationModal" tabindex="-1" role="dialog"
        aria-labelledby="rateAccommodationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Accommodation review</h5>
                </div>
                <form [formGroup]="accommodationReviewForm" (ngSubmit)="onSubmitAccommodationReview()"
                    class="needs-validation" name="accommodationReviewForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="accommodationComment">Leave a comment:</label>
                            <textarea class="form-control" id="accommodationComment"
                                formControlName="accommodationComment" name="accommodationComment" rows="3"
                                placeholder="Accommodation owner" required></textarea>
                        </div>
                        <fieldset class="form-group">
                            <div class="rating">
                                <input type="radio" formControlName="accommodationRating" value="five" id="five"><label
                                    for="five">☆</label>
                                <input type="radio" formControlName="accommodationRating" value="four" id="four"><label
                                    for="four">☆</label>
                                <input type="radio" formControlName="accommodationRating" value="three"
                                    id="three"><label for="three">☆</label>
                                <input type="radio" formControlName="accommodationRating" value="two" id="two"><label
                                    for="two">☆</label>
                                <input type="radio" formControlName="accommodationRating" value="one" id="one"><label
                                    for="one">☆</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rateOwnerModal" tabindex="-1" role="dialog" aria-labelledby="rateOwnerModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Owner review</h5>
                </div>
                <form [formGroup]="ownerReviewForm" (ngSubmit)="onSubmitOwnerReview()" class="needs-validation"
                    name="ownerReviewForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ownerComment">Leave a comment:</label>
                            <textarea class="form-control" id="ownerComment" formControlName="ownerComment"
                                name="ownerComment" rows="3" placeholder="Comment owner" required></textarea>
                            <div class="invalid-feedback">You have to enter a comment!</div>
                        </div>
                        <fieldset class="form-group">
                            <div class="rating">
                                <input type="radio" formControlName="ownerRating" value="five" id="ownerFive"><label
                                    for="ownerFive">☆</label>
                                <input type="radio" formControlName="ownerRating" value="four" id="ownerFour"><label
                                    for="ownerFour">☆</label>
                                <input type="radio" formControlName="ownerRating" value="three" id="ownerThree"><label
                                    for="ownerThree">☆</label>
                                <input type="radio" formControlName="ownerRating" value="two" id="ownerTwo"><label
                                    for="ownerTwo">☆</label>
                                <input type="radio" formControlName="ownerRating" value="one" id="ownerOne"><label
                                    for="ownerOne">☆</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-sm-8 p-3">
            <div class="row">
                <div class="col-sm-4">
                    <p>Benefits: </p>
                    <div class="list-group overflow-auto">
                        <ul *ngFor="let benefit of accommodation.benefits;">
                            <li>
                                {{benefit}}
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-8">
                    <p>Availability Start - End date: </p>
                    <div class="list-group overflow-auto">
                        <ul *ngFor="let date of accommodation.availabilityDates;">
                            <li>
                                {{ datePipe.transform(date.startDate, "yyyy-MM-dd") }} - {{
                                datePipe.transform(date.endDate, "yyyy-MM-dd") }} _____ {{date.price}} €
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 p-3">
            <p>Currently reserved for: </p>
            <div class="list-group overflow-auto">
                <ul *ngFor="let reservation of reservations;">
                    <li>
                        Start date: {{ datePipe.transform(reservation.date, "yyyy-MM-dd") }}
                        for {{reservation.days}} days
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 px-5 row">
            <p>Pricing: </p>
            <div class="form-check">
                <input class="mr-2" id="isPriceByGuest" type="radio" value="perGuest"
                    [checked]="accommodation.isPriceByGuest" [attr.disabled]="true">
                <label for="isPriceByGuest">
                    Per guest
                </label>
            </div>
            <div class="form-check">
                <input class="mr-2" id="isPricePerDay" type="radio" value="perDay"
                    [checked]="!accommodation.isPriceByGuest" [attr.disabled]="true">
                <label for="isPricePerDay">
                    Per day
                </label>
            </div>
        </div>

        <div class="col-sm-6 px-5 row">
            <p>Acceptance: </p>
            <div class="form-check">
                <input class="mr-2" id="isAutomaticAcceptance" type="radio" value="Automatic"
                    [checked]="accommodation.isAutomaticAcceptance" [attr.disabled]="true">
                <label>
                    Automatic
                </label>
            </div>
            <div class="form-check">
                <input class="mr-2" id="isManualAcceptance" type="radio" value="Manual"
                    [checked]="!accommodation.isAutomaticAcceptance" [attr.disabled]="true">
                <label>
                    Manual
                </label>
            </div>
        </div>
    </div>

    <div class="mt-5" *ngIf="axiosService.getRole() == 'Guest'">
        <h3 class="mb-5">Make a reservation</h3>
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="needs-validation w-100"
            name="reservationForm" novalidate>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="availabilityStart">Start date:</label>
                        <input (change)="inputChanged()" type="date" class="form-control" name="availabilityStart"
                            id="availabilityStart" formControlName="availabilityStart" required>
                        <div class="invalid-feedback">This input is not valid!</div>
                        <div *ngIf="reservationForm.errors?.['notOverlapping']" class="custom-invalid-feedback">
                            Chosen date range is not available!
                        </div>
                        <div *ngIf="reservationForm.errors?.['startBeforeTomorrow']" class="custom-invalid-feedback">
                            Start date is before tomorrow!
                        </div>
                        <div *ngIf="reservationForm.errors?.['startAfterEnd']" class="custom-invalid-feedback">
                            Start date is after end date!
                        </div>
                        <div *ngIf="reservationForm.errors?.['invalidAvailable']" class="custom-invalid-feedback">
                            Accommodation is not available at chosen time!
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="availabilityEnd">End date:</label>
                        <input (change)="inputChanged()" type="date" class="form-control" name="availabilityEnd"
                            id="availabilityEnd" formControlName="availabilityEnd" required>
                        <div class="invalid-feedback">This input is not valid!</div>
                        <div *ngIf="reservationForm.errors?.['notOverlapping']" class="custom-invalid-feedback">
                            Chosen date range is not available!
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="guestNumber">Guests:</label>
                        <input (input)="inputChanged()" type="number" min="1" max="30" class="form-control"
                            name="guestNumber" id="guestNumber" formControlName="guestNumber" required>
                        <div class="invalid-feedback">This input is not valid!</div>
                        <div *ngIf="reservationForm.errors?.['guestNumber']" class="custom-invalid-feedback">
                            Chosen number of guests is not between minimum and maximum guest number allowed!
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Price:</label>
                        <p class="mt-2">{{currentPrice}} €</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mt-3">
                        <button class="btn btn-secondary mt-3 w-100" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- reviews -->

    <div class="mt-4" *ngIf="accommodationReviews.length != 0">
        <h2 class="my-4">Reviews</h2>
        <app-accommodation-review-view *ngFor="let accommodationReview of accommodationReviews"
            [accommodationReview]="accommodationReview"
            (deleteReviewGuestEvent)="deleteReviewGuest($event)"></app-accommodation-review-view>
    </div>
</div>