<div class="card my-4">

  <h4 class="card-header">{{accommodationRequest.newAccommodation.name}}</h4>

  <div class="card-body">

    <h5 class="card-title">{{accommodationRequest.newAccommodation.location}}</h5>
    <p class="card-text">
      {{accommodationRequest.newAccommodation.description}}
      <br><br>
    </p>
    
    <div class="row justify-content-between">

      <div class="col-lg-3 px-0">

        <h5>Available</h5>
        <div class="row d-flex">
          <span>From:</span>
          <span class="dotted"></span>
          <span>{{accommodationRequest.newAccommodation.availabilityStart}}</span>
        </div>

        <div class="row justify-content-between">
          <span>To:</span>
          <span class="dotted"></span>
          <span>{{accommodationRequest.newAccommodation.availabilityEnd}}</span>
        </div>

      </div>

      <div class="col-lg-3 px-0">

        <h5>Guests</h5>
        <div class="row d-flex">
          <span>Min. guests:</span>
          <span class="dotted"></span>
          <span>{{accommodationRequest.newAccommodation.minGuests}}</span>
        </div>

        <div class="row justify-content-between">
          <span>Max. guests:</span>
          <span class="dotted"></span>
          <span>{{accommodationRequest.newAccommodation.maxGuests}}</span>
        </div>

      </div>

      <div class="col-lg-3 px-0">

        <h5>Request type</h5>
        <div class="row d-flex">
          <span class="mt-3">{{accommodationRequest.type}} accommodation</span>
        </div>

      </div>

    </div>

    <div class="row justify-content-between">

      <div></div>
  
      <div>
  
        <button type="button" class="btn btn-success mx-3 mt-4 mb-2">Approve</button>
        <button type="button" class="btn btn-danger mx-3 mt-4 mb-2">Reject</button>
  
      </div>

  </div>

</div>