<div class="container">
    <div class="card py-3 my-5 bg-light">
        <div class="card-body">
            <h4 class="card-title">{{accommodation.name}}, {{accommodation.accommodationType}}</h4>
            <p class="card-text">{{accommodation.description}}</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {{accommodation.price}} €
                    </div>
                    <div class="col-md-6">
                        {{accommodation.name}} ⭐
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>