<div class="main">

    <div class="container">
  
      <h1 class="text-center pt-5 pb-4">Accommodation requests</h1>
  
      <div class="requests">
  
        <app-accommodation-request-view *ngFor="let accommodationRequest of accommodationRequests"
          [accommodationRequest]="accommodationRequest"
          (rejectCreateRequestEvent)="rejectCreateRequest($event)"
          (approveCreateRequestEvent)="approveCreateRequest($event)"
          (rejectUpdateRequestEvent)="rejectUpdateRequest($event)"
          (approveUpdateRequestEvent)="approveUpdateRequest($event)">
        </app-accommodation-request-view>
  
      </div>
  
    </div>
  
  </div>